# Instagram Category
- 카카오 API 활용하여 장소별 카테고리 분류

In [1]:
# 라이브러리 추가
import requests
from urllib.parse import urlparse
import pandas as pd

### 카테고리 추출

In [2]:
# 키워드 검색 함수 정의
def keyword_to_category(keyword):
    url = "https://dapi.kakao.com/v2/local/search/keyword.json?&query=" + keyword
    result = requests.get(urlparse(url).geturl(),
                          headers={"Authorization":"KakaoAK ca3e9e2867f5f89b6efcd2c1c3624ab3"}).json()['documents']
    list = []
    val = [keyword, result[0]['place_name'],
          result[0]['address_name'],
          result[0]['category_group_name'],
          result[0]['category_name']]
    list.append(val)
    df = pd.DataFrame(list, columns = ['keyword', 'place_name', 'address_name', 'category_group_name', 'category_name'])
    return df

keyword_to_category("경복궁")

,keyword,place_name,address_name,category_group_name,category_name
0,경복궁,경복궁,서울 종로구 세종로 1-91,관광명소,"여행 > 관광,명소 > 문화유적 > 고궁,궁"

In [10]:
# 데이터 불러오기
df = pd.read_csv('./data/cat.csv',encoding='cp949')
df.head()

   카카오위치명
0     경복궁
1  북촌한옥마을
2     남이섬
3  감천문화마을
4  남산서울타워

In [11]:
df1 = pd.DataFrame(columns = ['keyword', 'place_name', 'address_name', 'category_group_name', 'category_name', 'lat', 'lon'])

# 키워드 검색 함수 반복 적용
for keyword in df['카카오위치명']:
    df1 = pd.concat([df1, keyword_to_latlon(keyword)])
df1.head()

,keyword,place_name,address_name,category_group_name,category_name,lat,lon
0,경복궁,경복궁,서울 종로구 세종로 1-91,관광명소,"여행 > 관광,명소 > 문화유적 > 고궁,궁",37.5776087830657,126.976896737645
0,북촌한옥마을,북촌한옥마을,서울 종로구 가회동 31-31,,"여행 > 관광,명소",37.5829185302128,126.983384576672
0,남이섬,남이섬,강원 춘천시 남산면 방하리 197,관광명소,"여행 > 관광,명소 > 섬 > 섬(내륙)",37.79144074509299,127.52521014329739
0,감천문화마을,감천문화마을,부산 사하구 감천동 10-13,,"여행 > 관광,명소",35.09630012826786,129.00942831915552
0,남산서울타워,남산서울타워,서울 용산구 용산동2가 산 1-3,,"여행 > 관광,명소",37.551279740966,126.988217046052

In [6]:
df1.to_csv('./data/test.csv',encoding='cp949')